# Rust
/target/
**/*.rs.bk
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.psc-ide-port

# OS
.DS_Store
Thumbs.db

# Test files
/test.purs
*.purs.bak

/tests/oa
/tests/sources.txt


# lsp vscode client

/editors/code/node_modules
/editors/code/out
